.main {
  padding: 10px;
  min-height: 100vh;
  background-color: #f7f9fb;
}

/* Tabs */
.tabSelected {
  color: #257CA3 !important;
}

.indicator{
  background-color: #257CA3 !important;
}

/* Month range picker */
.monthRangePicker .ant-picker-input > input {
  cursor: pointer;
  font-size: 1.5em !important;
  font-weight: bold !important;
}

.monthPicker .ant-picker-input > input {
  font-size: 1.27em !important;
  font-weight: bold !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
  background-color: #257CA3 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #257CA3 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #4A9ABE !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #257CA3 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner::before {
  border-color: #4A9ABE !important;
}

.monthRangePicker
  > .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
.monthRangePicker
  > .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #4A9ABE !important;
}


.ant-picker-dropdown .ant-picker-cell-in-range .ant-picker-cell-inner {
  color: #fff !important;
}

.ant-btn-primary {
  background-color: #4A9ABE !important;
  border-color: #4A9ABE !important;
}

.ant-picker-range .ant-picker-active-bar {
  background-color: #257CA3 !important;
}

.ant-picker-dropdown .ant-picker-header-view button:hover,
.ant-picker-dropdown .ant-picker-header-view button:active {
  color: #4A9ABE !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled):before, 
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before, 
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before {
    background: #4A9ABE;
}

@media (max-width: 800px) {
  .ant-picker-panel-container {
    overflow: scroll !important;
    height: 100% !important;
  }

  .ant-picker-panel-container .ant-picker-panel-layout {
    flex-direction: column !important;
  }

  .ant-picker-panel-container .ant-picker-panels,
  .ant-picker-panel-container .ant-picker-datetime-panel {
    flex-direction: column !important;
  }

  .ant-picker-panel-container .ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
    visibility: visible !important;
  }

  .monthRangePicker
    > .ant-picker-panel-container
    .ant-picker-panels
    > *:first-child
    button.ant-picker-header-super-next-btn {
    visibility: visible !important;
  }

  .ant-picker-panel-container .ant-picker-panels > *:last-child {
    display: none;
  }

  .ant-picker-panel-container .ant-picker-panel-container {
    height: 100% !important;
  }

  .ant-picker-panel-container .ant-picker-panel-container,
  .ant-picker-panel-container .ant-picker-footer {
    width: 280px !important;
  }

  .ant-picker-panel-container .ant-picker-footer-extra > div {
    flex-wrap: wrap !important;
  }
}

@media (max-width: 600px) {  
  .monthRangePicker .ant-picker-input > input {
    font-size: 1.17em !important;
  }
}

/* Modal */
.backdrop {
  background-color: #fff !important;
  border-radius: 4px !important;
}